<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ecx_dbtranslations" frontName="ecx_dbtranslations">
            <module name="Economix_DbTranslations" before="Magento_Backend" />
        </route>
    </router>
</config>